/*
Colors:
#040D34 - Dark Blue
#242954 - Space Cadet !
#2E3B68 - Deep Komaru
#868BF3 - Cornflower Blue(Light)
#393670 - Deep Komaru
#130E23
#090c15

The Zoo by the scorpions
*/
*{
	color:white;
	font-family: "Garamond";
	margin-bottom: 0;
	margin:0;
}
	

#The_Header{
	height: 60px;
	margin:0;
	padding:0;
	border-bottom: solid 1px #2E3B68;
	margin-bottom: 50px;
	background-color:black;
}

#The_Header h1{
	float:left;
	color: #868BF3;
	font-family: "Celtic Garamond the 2nd";
}

#The_Header ul{
	float:right;
	padding-right:30px;
	padding-top:15px;
}

#Top_Menu li{
	display:inline;
	color: #868BF3;
	border-left:solid 2px #393670;
	border-right:solid 2px #393670;
	margin-left:5px;
	margin-right:5px;
	padding-left:5px;
	font-family: "Celtic Garamond the 2nd";
}

#Top_Menu li:last-child{
	padding-right:5px;
}

body{
	max-width: 1340px;
	min-width: 1340px;
	background:#090c15;
}
#LeftMenu{
	background:#130E23;
	float:left;
	border: solid 3px #868BF3;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 200px;
	list-style-type:none;
	font-size: 17px;
	padding: 0;
	margin: 0;
}
#LeftMenu img{
	display:inline;
	width:50px;
	height:50px;
	
}
#LeftMenu span{
	padding-top:20px;
	padding-right:20px;
	float: right;
}

#LeftMenu li{
	width:200px;
	height:40px;
	font-size:16px;
	padding-bottom:20px;
	border-bottom: solid 1px #242954;
}
#LeftMenu li:first-child{
	padding-top:0;
}
#LeftMenu li:last-child{
	border-bottom: none;
}

#Main_Content{
	float:left;
	margin-left:40px;
	display: inline;
	width:780px;
	height:1000px;
	border:solid 3px #868BF3;
	background: #130E23;
}

#Project_Section{
	margin:20px;
	margin-left: 95px;
	display: block;
	border: solid 7px #ababab;
	width: 600px;
	height: 400px;
	background: #fcfcfc;
}
#Project_Section .Project_Title{
	padding-top:10px;
	padding-left: 250px;
	color: #ababab;
}

#Main_Content .Left_Button{ 
	width:30px;
	height:20px;
	float: left;
	padding-top: 100px;
	padding-left: 70px;
}

#Main_Content .Right_Button{ 
	width:30px;
	height:20px;
	float: right;
	padding-top: 100px;
	padding-left: 130px;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#Project_Section .Project_Img{
	display: block;
	margin-left: 175px;
	width:200px;
	height:200px;
	border: solid 1px #e8e8e8;
}

.Project_Img img{
	width:200px;
	height:200px;
}

#Project_Section .Project_Description{
	padding-top: 10px;
	padding-left:60px;
	width: 500px;
	height: 200px;
	font-size:16px;
	font-family: 'Garamond';
	color: #ababab;
}

#Article_Section{
	padding-top:15px;
	padding-left:30px;
	padding-right:30px;
}

#Article_Section .Article_Description{
	font-family: "AGaramondPro-Regular";
	font-size: 18px;
}

#Article_Section .Article_Title{
	font-family: "Celtic Garamond the 2nd";
	font-size:30px;
	color: #868BF3;
}

#Tip_Section{
	float: right;
	display: inline;
	width:270px;
	height:800px;
	border:solid 3px #868BF3;
	background: #130E23;
	font-family: "AGaramondPro-Regular";
	font-size:12px;
}
#Tip_Section .Tip_Image{
	width: 150px;
	height: 150px;
	border: solid 3px #242954;
	margin-top: 10px;
	margin-left: 50px;
	display:block;
}
.Tip_Image img{
	width: 125px;
	height: 125px;
	padding-left: 15px;
	padding-top: 10px;
}


#Tip_Section .Tip_Description{
	font-size: 16px;
	font-family: 'Garamond';
	padding: 15px;
}

#The_Footer{
	padding-top: 50px;
	clear: both;
	background: #141423;
	position: relative;
	height:40px;
}

#links img{
	width:25px;
	height:25px;
	padding-left: 5px;
	padding-right: 5px;
}

#FAQ{
	padding-left:190px;
	font-size: 17px;
	font-family: "Celtic Garamond the 2nd";
}

#Copyright{
	float:right;
	padding-right:5px;
}

@font-face {
	font-family: "Celtic Garamond the 2nd";
	src: url("CELTG___.ttf");
}
@font-face {
	font-family: "AGaramondPro-Regular";
	src: url("Adobe Garamond Pro Regular.ttf");
}
/* NiggieSmalls
BigNutsBizzle
*/